@charset "utf-8";
/* CSS Document */
body{
	width:2479px;
	margin:0;
	padding:0;
	font-family:微软雅黑;
	font-size:40px;
	color:#000;
	background:#fff;
}
.clear{
    clear:both;	
}
.header{
	width:1980px;
	margin:233px auto;
	font-size:50px;
	color:#367da2;
	border-top:13px solid #367da2;
}
.container{
	width:1980px;
	margin:390px auto 0;
}
.left{
	float:left;
	width:481px;
}
.left h1{
	margin-bottom:80px;
	font-size:74px;
	font-weight:normal;
}
.tele{
	color:#444;
}
.tele span{
	display:block;
    color:#367da2;	
}
.qr{
	margin-top:350px;
    text-align:center;	
}
.qr img{
	margin-top:60px;
}
.right{
	float:left;
	width:1437px;
	margin-left:58px;
}
table{
	width:1437px;
	margin-top:120px;
}
table th{
	height:39px;
	padding:22px;
	font-weight:normal;
	color:#fff;
	text-align:left;
	background:#367da2;
	border-left:2px solid #fff;
}
table th:first-child{
	border-left:none;
}
table td{
	height:39px;
	padding:22px;
	font-weight:normal;
	border-left:2px dashed #adadad;
	border-bottom:2px dashed #adadad;
}
table td:first-child{
	border-left:none;
}
table td i{
	float:right;
	font-style:normal;
}
.border-bottom{
	border-bottom:4px solid #000;
}
.right p{
	line-height:60px;
}
.footer{
	width:1980px;
	margin:248px auto 288px;
	text-align:right;
	border-top:4px solid #367da2;
}
