@charset "utf-8";
/* CSS Document */

body {
	/*background: url(../images/rose-bg.jpg) top center no-repeat fixed;*/
	font-family: 楷体;
	font-size:10px;
	color:#000;
	text-shadow:none;
}
.page {
	position: relative;
}
.page:not(.cur) div {
	display: none;
}
img {
	max-width: 100%;
}
i {
	font-style: normal;
}
.wp {
	overflow: hidden;
}
#audio_btn {
	position: fixed;
	right: 4%;
	top: 3%;
	z-index: 200;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../images/audio.png);
	background-repeat: no-repeat;
	background-size: 30px 60px;
	background-position: 0px 0px;
	background-size: 100%;
}
#audio_btn.off {
	background-position: 0px -40px;
}
.page1{
    background:url(../images/index-bg.jpg) no-repeat top center;	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.rose-9{
    position:absolute;
	bottom:-3%;
	right:-9%;	
	width:50%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:9;
}
.rose-10{
    position:absolute;
	bottom:-38%;
	left:-37%;
	width:100%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:18;	
}
.rose-12{
    position:absolute;
	bottom:12%;
	left:-25%;
	width:55%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:17;	
}
.rose-13{
    position:absolute;
	top:-7%;
	left:-17%;
	width:55%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:6;	
}
.rose-14{
    position:absolute;
	bottom:-10%;
	right:-32%;
	width:100%;
	z-index:20;	
}
.rose-15{
    position:absolute;
	bottom:-5%;
	left:9%;
	width:65%;
	z-index:11;	
}
.rose-16{
    position:absolute;
	bottom:25%;
	right:-28%;
	width:65%;
	z-index:7;	
}
/**************渐渐出现的花瓣1~8***************/
@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}
.rose-1{
	position:absolute;
	width:60%;
	bottom:17%;
	left:-14%;
	opacity: 0;
    -webkit-animation:flash 1s linear 1 .5s forwards;
	-moz-animation:flash 1s linear 1 .5s forwards;
	-o-animation:flash 1s linear 1 .5s forwards;
	animation:flash 1s linear 1 .5s forwards;
	z-index:12;
}
.rose-2{
	position:absolute;
    width:80%;
    right:-60%;
    top:-18%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 .5s forwards;
	-moz-animation:flash 1s linear 1 .5s forwards;
	-o-animation:flash 1s linear 1 .5s forwards;
	animation:flash 1s linear 1 .5s forwards;
	z-index:15;
}
.rose-3{
	position:absolute;
    width:45%;
    right:-19%;
    bottom:20%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 2s forwards;
	-moz-animation:flash 1s linear 1 2s forwards;
	-o-animation:flash 1s linear 1 2s forwards;
	animation:flash 1s linear 1 2s forwards;
	z-index:13;
}
.rose-4{
	position:absolute;
    width:70%;
    left:-55%;
    top:3%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:15;
}
.rose-5{
	position:absolute;
    width:50%;
    right:18%;
    bottom:-3%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:10;
}
.rose-6{
	position:absolute;
    width:120%;
    left:-10%;
    bottom:-22%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:19;
}
.rose-7{
	position:absolute;
    width:60%;
    left:15%;
    bottom:-4%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:14;
}
.rose-8{
	position:absolute;
    width:70%;
    left:15%;
    top:-16%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:20;
}
.rose-7-1{
	width:120%;
    right:-108%;
    top:-11%;
	left:auto;
	bottom:auto;
	z-index:16;
}
.rose-14-1{
    right:auto;
    top:auto;
	left:-108%;
	bottom:12%;
	z-index:16;	
	z-index:20;
	width:140%;
}
.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:8.55%;
	padding-top:2.25%;
	text-align:center;
	background:rgba(0,0,0,.77);
	z-index:25;
}
.btn {
  display: inline-block;
  padding: .5rem 1.4rem;
  margin-top:0;
  margin-bottom: 0;
  font-size:1rem;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
}
.btn-danger{
	color:#fff;
	border:1px solid #d44157;
    background:-webkit-linear-gradient(top, #ff405c, #ff4d68);
	background:-webkit-gradient(linear,top, #ff405c, #ff4d68);
	background:-moz-linear-gradient(top, #ff405c, #ff4d68);
	background:-ms-linear-gradient(top, #ff405c, #ff4d68);
	background:-o-linear-gradient(top, #ff405c, #ff4d68);
    background:linear-gradient(top, #ff405c, #ff4d68);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4) inset,0px 0px 5px rgba(200,200,200,0.5);
	text-shadow:1px -1px 1px rgba(0,0,0,.32);
}
.btn-warning{
	margin-left:20px;
	border:1px solid #cd9d16;
    background:-webkit-linear-gradient(top, #ffd966, #ffdf85);
	background:-webkit-gradient(linear,top, #ffd966, #ffdf85);
	background:-moz-linear-gradient(top, #ffd966, #ffdf85);
	background:-ms-linear-gradient(top, #ffd966, #ffdf85);
	background:-o-linear-gradient(top, #ffd966, #ffdf85);
    background:linear-gradient(top, #ffd966, #ffdf85);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4) inset,0px 0px 5px rgba(200,200,200,0.5);
}
@-webkit-keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}  
}
@-moz-keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}  
}
@-o-keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}  
}
@keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}   
}
.rose-one{
	position:absolute;
	width:66%;
	top:15%;
	left:17%;
	opacity:0;
    -webkit-animation:zoomOut 1s linear 1 1.5s forwards;
	animation:zoomOut 1s linear 1 1.5s forwards;
	z-index:100;
}
.rose-one img{width:100%;}
@-webkit-keyframes bounceInLeft-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
	  opacity: 1;
    -webkit-transform: translate3d(4%, 0, 0);
    transform: translate3d(4%, 0, 0);
  }
}

@keyframes bounceInLeft-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
	  opacity: 1;
    -webkit-transform: translate3d(4%, 0, 0);
    transform: translate3d(4%, 0, 0);
  }
}
.rose-one-1{
    position:absolute;
	width:66%;
	top:17%;
	left:17%;
	opacity:0;
    -webkit-animation:bounceInLeft-1 1s linear 1 1.5s forwards;
	animation:bounceInLeft-1 1s linear 1 1.5s forwards;
	z-index:100;	
}
@-webkit-keyframes bounceInRight-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
	opacity:1;
    -webkit-transform: translate3d(4%, 0, 0);
    transform: translate3d(4%, 0, 0);
  }
}

@keyframes bounceInRight-1 {
 0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
	opacity:1;
    -webkit-transform: translate3d(4%, 0, 0);
    transform: translate3d(4%, 0, 0);
  }
}
.rose-one-2{
    position:absolute;
	width:66%;
	top:32%;
	left:17%;
	opacity:0;
    -webkit-animation:bounceInRight-1 1s linear 1 1.5s forwards;
	animation:bounceInRight-1 1s linear 1 1.5s forwards;
	z-index:100;	
}
.logo{
	width:70%;
	left:15%;
	right:15%;
	position:absolute;
    bottom:12%;	
	z-index:25;
}
.rose-17{
    width:70%;
	position:absolute;
	top:-24%;
	left:50%;	
}
.rose-18{
    width:70%;
	position:absolute;
	bottom:7%;
	right:-30%;	
	z-index:9;
}
.star{
   	position:absolute;
	width:123%;
	top:-53%;
	left:-4%;
	z-index:27;
}
.envelope{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    background:rgba(0,0,0,.77) url(../images/envelope-bg.png) no-repeat;	
	background-size:100%;
	z-index:10000;
}
.enter{
	position:absolute;
	width:95%;
	height:400px;
	margin-top:20%;
	margin-left:5%;
    background:url(../images/envelope.png) no-repeat;	
	background-size:100%;
}
span.error{
	display:none;
	margin-top:18%;
	margin-left:12%;
	padding-left:6%;
	line-height:25px;
	color:#ff2b2b;
	text-shadow:none;
    background:url(../images/error.png) no-repeat left center;
}
.envelope-input{
	position:absolute;
	width:69%;
	height:40px;
	top:22%;
	left:7%;
	padding-left:12px;
	border:none;	
	color:#333;
	-webkit-border-radius:none !important;
	-moz-border-radius:none !important;
	-o-border-radius:none !important;
	border-radius:none !important;
}
.envelope-input input{
width:100%;
height:40px;
font-size:1rem;
border:none;
box-shadow:none;
border-radius:0 !important;
background:url(../images/input_bg.jpg) no-repeat center center;
	background-size:100% 100%;
color:#333;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
	line-height:22px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
	line-height:22px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
	line-height:22px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
	line-height:22px;
}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px); 
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.logo-img{
	position:absolute;
    top:40%;
	left:9%; 	
}
.logo-img{
width:50%;	
}
.btn-view{
	display:block;
	margin-top:82%;
	width:60%;
	margin-left:auto;
	margin-right:auto;
    font-size:2.25rem;	
}

span.yes{
	display:none;
	position:absolute;
	left:88%;
	top:8px;
	width:12%;
}
.yes img{width:100%;}

@media screen and (max-width:360px){
	.btn-view{
	margin-top:90%;
}
span.yes{
	width:11%;
}
}
.success{
    display:block;
	-webkit-animation:shake 1s linear 1 .1s forwards;
	-moz-animation:shake 1s linear 1 .1s forwards;
	-o-animation:shake 1s linear 1 .1s forwards;
	animation:shake 1s linear 1 .1s forwards;
}
/******************/
.page2{
	background:url(../images/profile-bg.jpg) no-repeat top center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.profile-1{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:60px;
	z-index:1000;
	background:rgba(251,250,250,.38);
	box-shadow:0 3px 3px rgba(0,0,0,.2);
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(120px, 0, 0);
    transform: translate3d(120px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(65px, 0, 0);
    transform: translate3d(65px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0);
  }

  100% {
	  opacity: 1;
    -webkit-transform: translate3d(70px, 0, 0);
    transform: translate3d(70px, 0, 0);
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(120px, 0, 0);
    transform: translate3d(120px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(65px, 0, 0);
    transform: translate3d(65px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0);
  }

  100% {
	  opacity: 1;
    -webkit-transform: translate3d(70px, 0, 0);
    transform: translate3d(70px, 0, 0);
  }
}
.profile-2{
	position:absolute;
    width:165%;	
	left:-120%;
	top:8%;
	opacity: 0;
	-webkit-animation:bounceInLeft 2s linear 1 .1s forwards;
	-moz-animation:bounceInLeft 2s linear 1 .1s forwards;
	-o-animation:bounceInLeft 2s linear 1 .1s forwards;
	animation:bounceInLeft 2s linear 1 .1s forwards;
}
.profile-2 img{
    width:100%;
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  100% {
	opacity:1;
    -webkit-transform: translate3d(65px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  100% {
	opacity:1;
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
.profile-3{
	position:absolute;
    width:200%;	
	right:-130%;
	opacity:0;
	top:10%;
	opacity: 0;
	-webkit-animation:bounceInRight 2s linear 1 .1s forwards;
	-moz-animation:bounceInRight 2s linear 1 .1s forwards;
	-o-animation:bounceInRight 2s linear 1 .1s forwards;
	animation:bounceInRight 2s linear 1 .1s forwards;
}
.profile-3 img{
    width:100%;
}

.slider-img{
	display:none;
	position:absolute;
    width:100%;
	z-index:1000;
}
.slider-img img{
    width:18%;
	margin-left:1.8%;	
}
.profile-4{
    position:absolute;	
	top:18%;
	left:20%;
	width:60%;
	font-size:1.125rem;
	color:#000;
	text-align:center;
	text-shadow:none;
	z-index:21;	
}
.profile-4 img{
    width:100%;
	margin-bottom:5%;
}
.profile-4 i{
	display:block;
	margin-top:5%;
    font-size:1.37rem;
}
.profile-4 i b{
    font-size:1.875rem;
	color:#e22440;
}
.profile-5{
    position:absolute;
	width:100%;
	top:15%;
	z-index:20;	
}
.profile-5 img{
    width:100%;
}

/**********以下是第3屏**********/
.page3{
    background:url(../images/voucher.jpg) no-repeat;
	background-size:100% 100%;
	text-shadow:none;
	color:#262626;	
}
@-webkit-keyframes voucherInLeft {
0%{
	opacity:1;
}
100%{
    margin-left:7%;	
	opacity:1;	
}
}

@keyframes voucherInLeft {
0%{
	opacity:1;
}
100%{
    margin-left:7%;	
	opacity:1;	
}
}
.voucher-left{
	margin-left:-100%;
	width:90%;
	margin-top:45%;
	opacity:0;
	font-size:1rem;
	line-height:1.4rem;
	-webkit-animation:voucherInLeft .5s linear 1 .1s forwards;
	-moz-animation:voucherInLeft .5s linear 1 .1s forwards;
	-o-animation:voucherInLeft .5s linear 1 .1s forwards;
	animation:voucherInLeft .5s linear 1 .1s forwards;
}
@-webkit-keyframes voucherInRight {
0%{
	opacity:1;
}
100%{
    margin-left:7%;	
	opacity:1;	
}
}

@keyframes voucherInRight {
0%{
	opacity:1;
}
100%{
    margin-left:7%;	
	opacity:1;	
}
}
.voucher-right{
	margin-left:110%;
	width:90%;
	opacity:0;
	font-size:1rem;
	line-height:1.4rem;
	-webkit-animation:voucherInRight .5s linear 1 .3s forwards;
	-moz-animation:voucherInRight .5s linear 1 .3s forwards;
	-o-animation:voucherInRight .5s linear 1 .3s forwards;
	animation:voucherInRight .5s linear 1 .3s forwards;
}
.top-2{
    margin-top:1%;
	-webkit-animation-delay:.5s; 
	animation-delay:.5s; 
}
.top-3{
    margin-top:1%;	
	-webkit-animation-delay:.7s; 
	animation-delay:.7s; 
}
.top-4{
    margin-top:3%;
	-webkit-animation-delay:.9s; 
	animation-delay:.9s;	
}
.top-5{
    margin-top:1%;
	-webkit-animation-delay:1.1s; 
	animation-delay:1.1s;	
}
.top-6{
    margin-top:1%;
	-webkit-animation-delay:1.3s; 
	animation-delay:1.3s;	
}
.voucher-left i,.voucher-right i{
    float:right;
	display:block;	
	margin-right:15%;
	font-weight:normal;
}

/***********page4************/
.page4{
    background:url(../images/profile-bg.jpg) no-repeat;
	background-size:100%;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes zoomIn3d {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2,3);
    transform: scale3d(1.2, 1.2,3);
  }
   100% {
    opacity: 1;
	-webkit-transform: scale3d(1, 1,1);
    transform: scale3d(1, 1,1);
  }
}

@keyframes zoomIn3d {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2,3);
    transform: scale3d(1.2, 1.2,3);
  }
   100% {
    opacity: 1;
	-webkit-transform: scale3d(1, 1,1);
    transform: scale3d(1, 1,1);
  }
}
.would-1{
	position:absolute;
	top:0;
	left:0;
    width:100%;
	height:100%;
	z-index:10;
	opacity:0;
	-webkit-animation:zoomIn .5s linear 1 .1s forwards;
	-moz-animation:zoomIn .5s linear 1 .1s forwards;
	-o-animation:zoomIn .5s linear 1 .1s forwards;
	animation:zoomIn .5s linear 1 .1s forwards;
	background:url(../images/would.jpg) no-repeat center center;
	background-size:100%;
}
.would-1 img{
    width:100%;	
}
.would-2{
    position:absolute;	
	top:24%;
	right:-15%;
	width:45%;
	z-index:20;
}
.would-3{
    position:absolute;	
	top:-10%;
	left:0;
	width:100%;
	height:100%;
	z-index:18;
	opacity:0;
	-webkit-animation:zoomIn3d .2s linear 1 .4s forwards;
	-moz-animation:zoomIn3d .2s linear 1 .4s forwards;
	-o-animation:zoomIn3d .2s linear 1 .4s forwards;
	animation:zoomIn3d .2s linear 1 .4s forwards;
	background:url(../images/would-text.png) no-repeat center center;
	background-size:100%;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
	-webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
	-webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}
.anImg .s7 p{	}

@-webkit-keyframes downTxt{
	0%{opacity:0;-webkit-transform:scale(20);}
	30%{opacity:0;-webkit-transform:scale(5);}
	100%{opacity:1;-webkit-transform:scale(1);}
}
.page5-1{
    background:url(../images/bg-1.jpg) no-repeat top center;	
	background-size:100%;
}
.page5-2{
	position:absolute;	
    z-index:20;
	bottom:9.5%;
}
@-webkit-keyframes zoomOut {
  0% {
     opacity: 1;
	-webkit-transform: scale3d(5, 5, 5);
    transform: scale3d(5, 5, 5);
  }
  100% {
    opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
	-webkit-transform: scale3d(5, 5, 5);
    transform: scale3d(5, 5, 5);
  }
  100% {
    opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.page5-2 p{
	position:absolute;
	top:0;
	left:0;
	width:46.8%;
	height:100%;
	margin:0;
	padding:0;
	background:url(../images/1_o.png) no-repeat;
	background-size:100%;	
    -webkit-animation: zoomOut .7s 1 ease-in;
	opacity:1;
	z-index:22;
}
.page5-3{
    position:absolute;
	width:100%;	
	height:100%;
	z-index:22;
}
.page5-4{
    position:absolute;
	top:50%;
	right:0;
	width:40%;	
	z-index:22;
}
.page5-5{
    position:absolute;
	bottom:17%;
	right:18%;
	z-index:22;
}
.round{
	position:relative;
	width:26px;
	height:26px;
	margin-top:120%;
	margin-left:34%;
    background:#ed93a1;
	border-radius:50%;
	opacity:0;
	-webkit-animation:flash .5s linear 2 2s forwards;
	animation:flash .5s linear 2 2s forwards;
}
.round-in{
	position:absolute;
	width:14px;
	height:14px;
	top:37px;
	left:15px;
	background:#e32a46;
	border-radius:50%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
}
.line{
	position:absolute;
	width:2px;
	height:100px;
	bottom:20px;
	left:-20px;
	background:#e22340;
	opacity:0;
	-webkit-transform:rotate(-30deg);
	transform:rotate(-30deg);
	-webkit-animation:flash 1s linear 1 2s forwards;
	animation:flash 1s linear 1 2s forwards;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(200%, 800%, 0);
    transform: translate3d(200%, 800%, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(200%, 800%, 0);
    transform: translate3d(200%, 800%, 0);
  }
}
.flower1{
    position:absolute;
	width:20%;	
	left:15%;
	top:-15%;
	opacity: 0;
	-webkit-animation:fadeInDown 4s linear infinite .2s forwards;
	animation:fadeInDown 4s linear infinite .2s forwards;
}
.page5-3 img{
	width:100%;	
}
@-webkit-keyframes fadeInDown2 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 800%, 0);
    transform: translate3d(-100%, 800%, 0);
  }
}

@keyframes fadeInDown2 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 800%, 0);
    transform: translate3d(-100%, 800%, 0);
  }
}
.flower2{
    position:absolute;
	width:15%;	
	left:25%;
	top:20%;
	opacity: 0;
	-webkit-animation:fadeInDown2 4s linear infinite .2s forwards;
	animation:fadeInDown2 4s linear infinite .2s forwards;
}
@-webkit-keyframes fadeInDown3 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(200%, 800%, 0);
    transform: translate3d(200%, 800%, 0);
  }
}

@keyframes fadeInDown3 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(200%, 800%, 0);
    transform: translate3d(200%, 800%, 0);
  }
}
.flower3{
    position:absolute;
	width:15%;	
	left:50%;
	top:25%;
	opacity: 0;
	-webkit-animation:fadeInDown3 4s linear infinite .2s forwards;
	animation:fadeInDown3 4s linear infinite .2s forwards;
}
@-webkit-keyframes fadeInDown4 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(200%, 800%, 0);
    transform: translate3d(200%, 800%, 0);
  }
}

@keyframes fadeInDown4 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(200%, 800%, 0);
    transform: translate3d(200%, 800%, 0);
  }
}
.flower4{
    position:absolute;
	width:15%;	
	left:65%;
	top:35%;
    -webkit-animation:fadeInDown4 4s linear infinite .2s forwards;
	animation:fadeInDown4 4s linear infinite .2s forwards;
}
.flower5{
    position:absolute;
	width:20%;	
	left:75%;
	top:0;
}
@-webkit-keyframes fadeInDown6 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 800%, 0);
    transform: translate3d(0, 800%, 0);
  }
}

@keyframes fadeInDown6 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 800%, 0);
    transform: translate3d(0, 800%, 0);
  }
}
.flower6{
    position:absolute;
	width:8%;	
	left:15%;
	top:30%;
    -webkit-animation:fadeInDown6 4s linear infinite .2s forwards;
	animation:fadeInDown6 4s linear infinite .2s forwards;
}
@-webkit-keyframes fadeInDown7 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 800%, 0);
    transform: translate3d(0, 800%, 0);
  }
}

@keyframes fadeInDown7 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 800%, 0);
    transform: translate3d(0, 800%, 0);
  }
}
.flower7{
    position:absolute;
	width:20%;	
	left:-10%;
	top:32%;
    -webkit-animation:fadeInDown7 4s linear infinite .2s forwards;
	animation:fadeInDown7 4s linear infinite .2s forwards;
}
.flower8{
    position:absolute;
	width:14%;	
	left:-5%;
	top:17%;
}
@-webkit-keyframes fadeInDown9 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 800%, 0);
    transform: translate3d(0, 800%, 0);
  }
}

@keyframes fadeInDown9 {
  0% {
    opacity: 1;
    -webkit-transform:none;
    transform:none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 800%, 0);
    transform: translate3d(0, 800%, 0);
  }
}
.flower9{
    position:absolute;
	width:20%;	
	left:90%;
	top:10%;
    -webkit-animation:fadeInDown7 4s linear infinite .2s forwards;
	animation:fadeInDown7 4s linear infinite .2s forwards;
}