@charset "utf-8";
/* CSS Document */

body {
	/*background: url(../images/rose-bg.jpg) top center no-repeat fixed;*/
	font-family: 楷体;
	color:#000;
	text-shadow:none;
}
.page {
	position: relative;
}
.page:not(.cur) div {
	display: none;
}
img {
	max-width: 100%;
}
i {
	font-style: normal;
}
.wp {
	overflow: hidden;
}
#audio_btn {
	position: fixed;
	right: 4%;
	top: 3%;
	z-index: 200;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../images/audio.png);
	background-repeat: no-repeat;
	background-size: 30px 60px;
	background-position: 0px 0px;
	background-size: 100%;
}
#audio_btn.off {
	background-position: 0px -40px;
}
.page1{
    background:url(../images/index-bg.jpg) no-repeat top center;	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.rose-9{
    position:absolute;
	bottom:-3%;
	right:-9%;	
	width:50%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:9;
}
.rose-10{
    position:absolute;
	bottom:-38%;
	left:-37%;
	width:100%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:18;	
}
.rose-12{
    position:absolute;
	bottom:12%;
	left:-25%;
	width:55%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:17;	
}
.rose-13{
    position:absolute;
	top:-7%;
	left:-17%;
	width:55%;
	opacity:0;
	-webkit-animation:flash 1s linear 1 1s forwards;
	-moz-animation:flash 1s linear 1 1s forwards;
	-o-animation:flash 1s linear 1 1s forwards;
	animation:flash 1s linear 1 1s forwards;
	z-index:6;	
}
.rose-14{
    position:absolute;
	bottom:-10%;
	right:-32%;
	width:100%;
	z-index:20;	
}
.rose-15{
    position:absolute;
	bottom:-5%;
	left:9%;
	width:65%;
	z-index:11;	
}
.rose-16{
    position:absolute;
	bottom:25%;
	right:-28%;
	width:65%;
	z-index:7;	
}
/**************渐渐出现的花瓣1~8***************/
@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}
.rose-1{
	position:absolute;
	width:60%;
	bottom:17%;
	left:-14%;
	opacity: 0;
    -webkit-animation:flash 1s linear 1 .5s forwards;
	-moz-animation:flash 1s linear 1 .5s forwards;
	-o-animation:flash 1s linear 1 .5s forwards;
	animation:flash 1s linear 1 .5s forwards;
	z-index:12;
}
.rose-2{
	position:absolute;
    width:80%;
    right:-60%;
    top:-18%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 .5s forwards;
	-moz-animation:flash 1s linear 1 .5s forwards;
	-o-animation:flash 1s linear 1 .5s forwards;
	animation:flash 1s linear 1 .5s forwards;
	z-index:15;
}
.rose-3{
	position:absolute;
    width:45%;
    right:-19%;
    bottom:20%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 2s forwards;
	-moz-animation:flash 1s linear 1 2s forwards;
	-o-animation:flash 1s linear 1 2s forwards;
	animation:flash 1s linear 1 2s forwards;
	z-index:13;
}
.rose-4{
	position:absolute;
    width:70%;
    left:-55%;
    top:3%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:15;
}
.rose-5{
	position:absolute;
    width:50%;
    right:18%;
    bottom:-3%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:10;
}
.rose-6{
	position:absolute;
    width:120%;
    left:-10%;
    bottom:-22%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:19;
}
.rose-7{
	position:absolute;
    width:60%;
    left:15%;
    bottom:-4%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:14;
}
.rose-8{
	position:absolute;
    width:70%;
    left:15%;
    top:-16%;	
	opacity: 0;
	-webkit-animation:flash 1s linear 1 1.5s forwards;
	-moz-animation:flash 1s linear 1 1.5s forwards;
	-o-animation:flash 1s linear 1 1.5s forwards;
	animation:flash 1s linear 1 1.5s forwards;
	z-index:20;
}
.rose-7-1{
	width:120%;
    right:-108%;
    top:-11%;
	left:auto;
	bottom:auto;
	z-index:16;
}
.rose-14-1{
    right:auto;
    top:auto;
	left:-108%;
	bottom:12%;
	z-index:16;	
	z-index:20;
	width:140%;
}
.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:5% 0;
	text-align:center;
	background:rgba(0,0,0,.77);
	z-index:25;
}
.btn {
  display: inline-block;
  padding: 8px 25px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
}
.btn-danger{
	color:#fff;
	border:1px solid #d44157;
    background:-webkit-linear-gradient(top, #ff405c, #ff4d68);
	background:-webkit-gradient(linear,top, #ff405c, #ff4d68);
	background:-moz-linear-gradient(top, #ff405c, #ff4d68);
	background:-ms-linear-gradient(top, #ff405c, #ff4d68);
	background:-o-linear-gradient(top, #ff405c, #ff4d68);
    background:linear-gradient(top, #ff405c, #ff4d68);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4) inset,0px 0px 5px rgba(200,200,200,0.5);
	text-shadow:1px -1px 1px rgba(0,0,0,.32);
}
.btn-warning{
	margin-left:20px;
	border:1px solid #cd9d16;
    background:-webkit-linear-gradient(top, #ffd966, #ffdf85);
	background:-webkit-gradient(linear,top, #ffd966, #ffdf85);
	background:-moz-linear-gradient(top, #ffd966, #ffdf85);
	background:-ms-linear-gradient(top, #ffd966, #ffdf85);
	background:-o-linear-gradient(top, #ffd966, #ffdf85);
    background:linear-gradient(top, #ffd966, #ffdf85);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4) inset,0px 0px 5px rgba(200,200,200,0.5);
}
@-webkit-keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}  
}
@-moz-keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}  
}
@-o-keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}  
}
@keyframes roseOne{
	0%{}
	100%{
	opacity:1;
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);	
	}   
}
.rose-one{
	width:65%;
	margin:25% auto;
	opacity:0;
    -webkit-animation:roseOne 1s linear 1 1.5s forwards;
	-moz-animation:roseOne 1s linear 1 1.5s forwards;
	-o-animation:roseOne 1s linear 1 1.5s forwards;
	animation:roseOne 1s linear 1 1.5s forwards;
}
.rose-one img{width:100%;}
.logo{


	width:70%;
	left:15%;
	right:15%;
	position:absolute;
    bottom:18%;	
	z-index:25;
}
.rose-17{
    width:70%;
	position:absolute;
	top:-24%;
	left:50%;	
}
.rose-18{
    width:70%;
	position:absolute;
	bottom:7%;
	right:-30%;	
	z-index:9;
}
.star{
   	position:absolute;
	width:123%;
	top:-53%;
	left:-4%;
	z-index:27;
}
.envelope{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    background:rgba(0,0,0,.77) url(../images/envelope-bg.png) no-repeat;	
	background-size:100%;
	z-index:10000;
}
.enter{
	position:absolute;
	width:95%;
	height:400px;
	margin-top:20%;
	margin-left:5%;
    background:url(../images/envelope.png) no-repeat;	
	background-size:100%;
}
span.error{
	display:none;
	margin-top:18%;
	margin-left:12%;
	padding-left:6%;
	line-height:25px;
	color:#ff2b2b;
	text-shadow:none;
    background:url(../images/error.png) no-repeat left center;
}
.envelope-input{
	position:absolute;
	width:69%;
	height:40px;
	top:22%;
	left:7%;
	padding-left:12px;
	border:none;	
	color:#333;
	-webkit-border-radius:none !important;
	-moz-border-radius:none !important;
	-o-border-radius:none !important;
	border-radius:none !important;
}
.envelope-input input{
width:100%;
height:40px;
font-size:16px;
border:none;
box-shadow:none;
border-radius:0 !important;
background:url(../images/input_bg.jpg) no-repeat center center;
	background-size:100% 100%;
color:#333;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
	line-height:22px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
	line-height:22px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
	line-height:22px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
	line-height:22px;
}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px); 
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.logo-img{
	position:absolute;
    top:40%;
	left:9%; 	
}
.logo-img{
width:50%;	
}
.btn-view{
	display:block;
	margin-top:82%;
	width:60%;
	margin-left:auto;
	margin-right:auto;
    font-size:36px;	
}

span.yes{
	display:none;
	position:absolute;
	left:88%;
	top:8px;
	width:12%;
}
.yes img{width:100%;}

@media screen and (max-width:360px){
	.btn-view{
	margin-top:90%;
}
span.yes{
	width:11%;
}
}
.success{
    display:block;
	-webkit-animation:shake 1s linear 1 .1s forwards;
	-moz-animation:shake 1s linear 1 .1s forwards;
	-o-animation:shake 1s linear 1 .1s forwards;
	animation:shake 1s linear 1 .1s forwards;
}
/******************/
.page2{
	background:url(../images/profile-bg.jpg) no-repeat top center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.profile-1{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:60px;
	z-index:1000;
	background:rgba(251,250,250,.38);
	box-shadow:0 3px 3px rgba(0,0,0,.4);
}
@-webkit-keyframes bounceInLeft {
0%{
	opacity:1;
}
50%{
	left:-80%;
}
70%{
	left:-100%;
}
90%{
	left:-90%;
}
100%{
    left:-100%;	
	opacity:1;	
}
}

@keyframes bounceInLeft {
0%{
	opacity:1;
}
50%{
	left:-80%;
}
70%{
	left:-100%;
}
90%{
	left:-90%;
}
100%{
    left:-100%;	
	opacity:1;	
}
}
.profile-2{
	position:absolute;
    width:165%;	
	left:-150%;
	top:8%;
	opacity:0;
	-webkit-animation:bounceInLeft 1s linear 1 .1s forwards;
	-moz-animation:bounceInLeft 1s linear 1 .1s forwards;
	-o-animation:bounceInLeft 1s linear 1 .1s forwards;
	animation:bounceInLeft 1s linear 1 .1s forwards;
}
.profile-2 img{
    width:100%;
}
@-webkit-keyframes bounceInRight {
0%{
	opacity:1;
}
50%{
	right:-110%;
}
70%{
	right:-145%;
}
90%{
	right:-120%;
}
100%{
    right:-145%;
	opacity:1;	
}
}

@keyframes bounceInRight {
0%{
	opacity:1;
}
50%{
	right:-110%;
}
70%{
	right:-145%;
}
90%{
	right:-120%;
}
100%{
    right:-145%;
	opacity:1;	
}
}
.profile-3{
	position:absolute;
    width:200%;	
	right:-200%;
	opacity:0;
	top:10%;
	-webkit-animation:bounceInRight 1s linear 1 .1s forwards;
	-moz-animation:bounceInRight 1s linear 1 .1s forwards;
	-o-animation:bounceInRight 1s linear 1 .1s forwards;
	animation:bounceInRight 1s linear 1 .1s forwards;
}
.profile-3 img{
    width:100%;
}

.slider-img{
	display:none;
	position:absolute;
    width:100%;
	z-index:1000;
}
.slider-img img{
    width:18%;
	margin-left:1.8%;	
}
.profile-4{
    position:absolute;	
	top:18%;
	left:20%;
	width:60%;
	font-size:18px;
	color:#000;
	text-align:center;
	text-shadow:none;
	z-index:21;	
}
.profile-4 img{
    width:100%;
	margin-bottom:5%;
}
.profile-4 i{
	display:block;
	margin-top:5%;
    font-size:22px;
}
.profile-4 i b{
    font-size:30px;
	color:#e22440;
}
.profile-5{
    position:absolute;
	width:100%;
	top:15%;
	z-index:20;	
}
.profile-5 img{
    width:100%;
}